body {
	background: url( "../mountain.jpg" ) no-repeat;
	background-position: center-top;
	background-attachment: fixed;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  	-webkit-appearance: none; 
  	margin: 0; 
}

input[type=number] {
	background-color: #fff;
	-moz-appearance:textfield;
}

.content {
	margin-top: 74px;
}

.detail {
	font-size: .8em;
}

.fixed {
	position: fixed;
}

.panel-content {
	margin-bottom: 1rem;
}

.tab-pane {
	display: flex;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.navbar-brand {
	height: 40px;
	width: 35px;
}

.nav-link h6 {
	margin-bottom: 0;
}

.nav-link.active {
	color: #ff550b !important;
}

.nav-item {
	padding-left: 0;
	padding-right: 0;
}

.sticky {
	position: sticky;
	top: 58px;
}

.input-group {
	padding-right: 1rem;
}

.canvas-safari {
	height: 100px;
	background:
		linear-gradient(
			to right,
			rgba(255, 53, 11, 0.5),
			rgba(204, 0, 255, 0.5)
		), url("../img/safari.jpg");
	background-size: cover;
}

.canvas-breeding {
	height: 100px;
	background:
		linear-gradient(
			to right,
			rgba(255, 53, 11, 0.5),
			rgba(204, 0, 255, 0.5)
		), url("../img/breeding.jpg");
	background-size: cover;
}

.canvas-fishing {
	height: 100px;
	background:
		linear-gradient(
			to right,
			rgba(255, 53, 11, 0.5),
			rgba(204, 0, 255, 0.5)
		), url("../img/fishing.jpg");
	background-size: cover;
}

.canvas-horde {
	height: 100px;
	background:
		linear-gradient(
			to right,
			rgba(255, 53, 11, 0.5),
			rgba(204, 0, 255, 0.5)
		), url("../img/horde.jpg");
	background-size: cover;
}

.no-pad-left {
	padding-left: 0px;
}

.no-pad-right {
	padding-right: 0px;
}

.tab-content {
	padding-bottom: 1rem;
}

.tab-pane {
	padding-left: 1rem;
	padding-right: 1rem;
}

.sprite {
	background-color: #aaaa;
	padding-left: 0;
	padding-right: 0;
	width: 96px !important;
	height: 96px !important;
	display: inline-block;
}

.sprite:hover {
	background-color: #ccca;
}

.sprite-grid {
	margin-bottom: 20px;
}

.img-flag {
	height: 32px;
	width: 32px;
}

.sprite-panel {
}